
/*============================================================
                      Universal css 
 =============================================================*/

*{
    margin: 0;
    padding: 0;
    font-family: system-ui, sans-serif;
}




/* ==========================================================
                              primary css 
 ============================================================*/
.primary-btn{
    padding: 15px 35px;
    border: 1px solid #e55473 ;
    outline: none;
    color: white;
    background-color: #e55473;
    border-radius: 5px;
    font-weight: 600;
    font-size:16px;
}
.primary-btn:hover{
    background-color: white;
    color: #e55473;
    transition: .5s;
}



/* ==========================================================
                 flower-banner-section css starts
 ============================================================*/
.flower-banner-section{
    width: 100%;
    background-color:#fceef1 ;
    
}
.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
}
.banner-img img{
    width: 500px;
    margin-bottom: -5px;
    
}
.banner-title{
    font-size: 60px;
    margin-bottom: 10px;
}
.banner-description{
    color: gray;
    margin-bottom: 15px;
}
/* ==========================================================
                 flower-banner-section css ends
 ============================================================*/


/* ==========================================================
                 Featured-section css starts
 ============================================================*/
 .Featured-section{
    width: 100%;
    margin: 100px 0;
 }
.flowers-cards{
    width: 80%;
    margin: auto;
    display: flex;
    align-items:flex-end;
    justify-content: space-between;
    gap: 10px;
}
.flowers-card h3{
    text-align: center;
    text-decoration: underline;
    margin-top: 10px;
    font-size: 16px;
}
.flower1{
    width: 320px;
    height: 350px;
    background-color: #f1dde7;
    padding:20px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    border-radius: 200px 200px 0 0;
}
.flower2{
    width: 320px;
    height: 350px;
    background-color: #cee3e4;
    padding:20px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    border-radius: 200px 200px 0 0;
}
.flower3{
    width: 320px;
    height: 350px;
    background-color: #e3ebdb;
    padding:20px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    border-radius: 200px 200px 0 0;
}

.rose{
    width: 220px;
    margin-bottom: -50px;
    padding: 30px;  
}
.belly-flower{
    width: 250px;
    /* margin-bottom: -50px; */
    padding: 30px;
}
.yellow-rose{
    width: 220px;
    margin-bottom: -50px;
    padding: 30px;
}
.Featured-title{
    text-align: center;
}
.flower-description{
    text-align: center;
    margin-bottom: 50px;
    color: gray;
}
/* ==========================================================
                 Featured-section css end
 ============================================================*/

 /* ==========================================================
                 flower details section css starts
 ============================================================*/
.flower-supports{
    width: 100%;
}
.support{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    width: 80%;
    margin:100px auto;
    padding:60px 0px;
    border-radius: 10px;
    background-color: #f4f4f4;
}
.support  img{
    width: 80px;
}

.support h4{
    color: gray;
}


 /* ==========================================================
                 flower details section css ends
 ============================================================*/
