/*============================================================
                      Universal css 
 =============================================================*/
*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}
/* ==========================================================
                              primary css 
 ============================================================*/
.primary-btn{
    padding: 15px 35px;
    border: 1px solid #e55473 ;
    outline: none;
    color: white;
    background-color: #e55473;
    border-radius: 5px;
    font-weight: 400;
    font-size:15px;
}
.primary-btn:hover{
    background-color: white;
    color: #e55473;
    transition: .5s;
}
span{
    color: #e55473;
 }
/* ==========================================================
                      bonus section css starts
 ============================================================*/
header{
    width: 100%;
    background-color: #ffdee5;
    border-bottom: 1px solid #fcbcd2;
    position: sticky;
    top: 0;
    padding: 15px 0;
    /* box-shadow: 5px 5px 50px rgb(247, 247, 247); */
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}
nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
nav ul li {
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    color: rgb(77, 77, 77);
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
}
.logo h1{
    color: white;
    font-size: 45px;
    cursor: pointer;
}
/* ==========================================================
                      bonus section css end
 ============================================================*/


/* ==========================================================
                 flower-banner-section css starts
 ============================================================*/
.flower-banner-section{
    width: 100%;
    background-color:#fceef1;  
    padding-top: 10px;
}
.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
}
.banner-img img{
    width: 500px;
    margin-bottom: -5px; 
}
.banner-title{
    font-size: 60px;
    margin-bottom: 10px;
    color: #272727;
}
.banner-description{
    color: #272727;
    margin-bottom: 15px;
    font-size: 18px;
}
/* ==========================================================
                 flower-banner-section css ends
 ============================================================*/


/* ==========================================================
                 Featured-section css starts
 ============================================================*/
 .Featured-section{
    width: 100%;
    margin: 100px 0;
 }
.flowers-cards{
    width: 80%;
    margin: auto;
    display: flex;
    align-items:flex-end;
    justify-content: space-between;
    gap: 10px;
}
.flowers-card h3{
    text-align: center;
    text-decoration: underline;
    margin-top: 10px;
    font-size: 24px;
    color: #272727;
}
.flower1{
    width: 320px;
    height: 350px;
    background-color: #f1dde7;
    padding:20px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    border-radius: 200px 200px 0 0;
}
.flower2{
    width: 320px;
    height: 350px;
    background-color: #cee3e4;
    padding:20px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    border-radius: 200px 200px 0 0;
}
.flower3{
    width: 320px;
    height: 350px;
    background-color: #e3ebdb;
    padding:20px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    border-radius: 200px 200px 0 0;
}
.rose{
    width: 220px;
    margin-bottom: -50px;
    padding: 30px;  
}
.belly-flower{
    width: 250px;
    padding: 30px;
}
.yellow-rose{
    width: 220px;
    margin-bottom: -50px;
    padding: 30px;
}
.Featured-title{
    text-align: center;
    font-size: 40px;
    margin-bottom: 24px;
}
.flower-description{
    text-align: center;
    margin-bottom: 50px;
    color: #272727;
    font-size: 18px;
}
/* ==========================================================
                 Featured-section css end
 ============================================================*/

 /* ==========================================================
                 flower details section css starts
 ============================================================*/
.flower-supports{
    width: 100%;
}
.support{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    width: 80%;
    margin:100px auto;
    padding:60px 0px;
    border-radius: 10px;
    background-color: #f4f4f4;
}
.support  img{
    width: 80px;
}
.support h4{
    color: #272727;
    font-size: 24px;
    font-weight: 500;
}

 /* ==========================================================
                 flower details section css ends
 ============================================================*/


 /* ==========================================================
                 discount section css starts
 ============================================================*/
 .discount-section{
    width: 100%;
    background-color: #fdf6f8;
    padding: 100px 0;
    margin: 100px 0;
 }
 .discount-content{
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
 }

 .discount-text{
    text-align: center;
    width: 600px;
 }
 .discount-text>  h1{
    font-size: 40px;
    margin-bottom: 20px;
 }
 .discount-text>  p{
    font-size: 18px;
    margin-bottom: 20px;
    color: gray;
 }

  .discount-content img{
    width: 300px;
 }
  /* ==========================================================
                 discount section css end
 ============================================================*/


  /* ==========================================================
                 instagram section css starts
 ==============================================================*/
 .Instagram-sections{
    width: 100%;
    margin-bottom: 100px;
 }
 .Instagram-sections h1  {
    text-align: center;
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: 800;
 }
 .Instagram-sections   p{
    color: gray;
    text-align: center;
    margin-bottom: 20px;
    font-size: 18px;
 }
 .instagram-photo{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
 }
 .instagram-photo img{
    width: 270px;
 }
 .instagram-photo img:hover{
    /* width: 265px; */
    transition: .5s;
    border-radius: 40px;
 }
   /* ==========================================================
                 instagram section css end
 ===============================================================*/


   /* ==========================================================
                 Subscribe section css starts
 ===============================================================*/
.subscribe-section{
    width: 100%;
    margin-bottom: 100px;
}
.subscribe-banner{
    width: 80%;
    height: 350px;
    margin: auto;
    background-image: url("Flower-Asset/Rectangle\ 9.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items:center ;
}
.subscribe-content> h1 {
    text-align: center;
    padding-top: 20px;
    font-size: 40px;
    margin-bottom: 10px;
}
.subscribe-content> p{
    color: gray;
    text-align: center;
    margin-bottom: 30px;
}
form input[type=text]{
    padding: 20px 400px 20px 14px;
    border: none;
    border-radius: 10px;
    margin-right: 10px;
}
/* =============================================================
                 Subscribe section css end
 ===============================================================*/


 /* ============================================================
                 footer section css starts
 ===============================================================*/
 footer{
    width: 100%;
    background-color: #111010;
    text-align: center;
    padding: 100px 0;
 }
 footer> h1{
    font-size: 48px;
    color: white;
    margin-bottom: 20px;
 }
 footer p{
    font-size: 18px;
    color: white;
 }
 .copyright-text{
    color:rgba(156, 156, 156, 0.63) ;
    margin-top: 30px;
    font-weight: 300;
    font-size:16px ;
 }
  /* ============================================================
                 footer section css end
 ===============================================================*/




 /* mobile device responsive */
 @media screen and (max-width:576px) {
    .instagram-photo, .support, .flowers-cards, .banner, nav{
        flex-direction: column;
    }
    .instagram-photo{
        gap: 20px;
    }
   nav ul{
        flex-direction: column;
    }
    .support{
        gap: 40px;
    }
    .flowers-cards{
        margin:20px;
       
    }
    .discount-content{
        flex-direction: column-reverse;
    }
    .discount-text{
        padding: 20px;
        width: 100%;
    }
    .Instagram-sections p{
        padding: 20px;
    }
    .subscribe-banner{
        width: 100%;
        background-size: cover;
        height: 100%;
    }
    form input[type=text] {
        padding: 18px 40px 18px 14px;
        border: none;
        border-radius: 5px;
        margin: 0 auto;
       
    }
    footer p{
        padding: 15px;
        text-align: center;
    }
 }